@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-wrapper {
  position: relative;
  overflow: hidden;
}

section {
  height: calc(100vh - 79px);
  @media (max-width: $breakpoint-xl) {
    height: auto;
    padding: 80px 0;
  }
  @media (max-width: $breakpoint-md) {
    padding: 60px 0;
  }
}
.community, .products, .profit {
  height: auto;
}

.white-text {
  & * {
    color: $whiteColor;
  }
}

.image {
  & img {
    @include defaultIcon(contain);
  }
  &-author {
    margin-top: 24px;
  }
}

.main-screen {
  background: #ECEBEF;
  height: calc(100vh - 79px);
  @media (max-width: $breakpoint-xl) {
    height: auto;
  }
  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__first_row {
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  &__image {
    margin: 0 100px;
    @media (max-width: $breakpoint-xl) {
      margin: 40px 100px;
    }
    & img {
      @include defaultIcon(contain);
    }
  }
  &__description {
    @media (max-width: $breakpoint-xl) {
      text-align: center;
    }
  }
  &__title {

  }
  &__subtitle {
    position: absolute;
    @media (max-width: $breakpoint-xl) {
      position: static;
      text-align: center;
    }
    & .text-inner-hero {
      color: $orangeColor;
    }
  }
}

.mission {
  background: #C06734;
}

.about {
  background: #877E42;
  & .image {
    @media (max-width: $breakpoint-lg) {
      width: 60%;
      margin: 0 auto 40px auto;
    }
  }
}

.focus {
  background: #C06734;
  & .image {
    @media (max-width: $breakpoint-lg) {
      width: 60%;
      margin: 0 auto 40px auto;
    }
  }
}

.tools {
  padding-top: 6%;
  background: #C7C29F;
  & .row.align-justify {
    margin: 0 -15px;
  }
  & .col-xs-12 {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  & .section-heading {
    color: #C06734;
    padding-bottom: 7%;
    & .text-inner {
      color: #C06734;
    }
  }
  &-item {

  }
  &__image {
    display: flex;
    margin-bottom: 48px;
    width: fit-content;
  }
  &__title {
    & .text-inner {
      color: $orangeColor;
      margin-bottom: 24px;
      display: inline-flex;
      text-transform: uppercase;
      font-weight: 700;
      color: $orangeColor;
      border-bottom: 2px solid transparent;
      @include transition(.1);
      &:hover {
        border-color: $orangeColor;
      }
    }
  }
}

.community {
  background: #877E42;
  padding: 6% 0;
  & .heading-4 {
    text-transform: uppercase;
    margin-bottom: 56px;
  }
  &-copyright {
    margin-top: 48px;
  }
}

.products {
  background: #ECEBEF;
  padding: 6% 0;
  & .col-xs-12 {
    margin-bottom: 30px;
  }
  &-heading {
    padding-bottom: 7%;
  }
  &-title {
    margin-bottom: 24px;
    & .text-inner {
      color: #C06734;
      text-transform: uppercase;
    }
  }
  &-subtitle {
    & .text-inner {
      font-weight: 700;
    }
  }
  &-item {
    
  }
  &__image {
    display: flex;
    margin-bottom: 80px;
    height: 350px;
    @media (max-width: $breakpoint-md) {
      height: 250px;
    }
    & img {
      @include defaultIcon(contain);
    }
  }
  &__title {
    color: $orangeColor;
    margin-bottom: 24px;
    display: flex;
    text-transform: uppercase;
  }
  & .btn-primary {
    text-transform: uppercase;
  }
}

.testimonials {
  padding: 6% 0;
  background: #C06734;
  & .col-lg-3 {
    margin-bottom: 30px;
  }
  & .section-heading {
    margin-bottom: 11%;
  }
  &-item {
    position: relative;
  }
  &-like {
    position: absolute;
    top: 0;
    right: 0;
    & svg {
      @include transition(.3);
      cursor: pointer;
    }
    &:hover {
      & svg {
        fill: $whiteColor;
      }
    }
  }
  &__main {
    display: flex;
    align-items: center;
  }
  &__image {
    background-image: url('../img/half-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    height: 140px;
    min-height: 140px;
    min-width: 140px;
    background-position: bottom;
    margin-right: 24px;
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      width: 116px;
      height: 140px;
      margin: auto;
    }
  }
  &__author {
    text-transform: uppercase;
  }
  &__text {
    margin-top: 24px;
  }
}

.profit {
  & .col-xl-2 {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  & .space-evenly {
    justify-content: space-evenly;
    @media (max-width: $breakpoint-lg) {
      justify-content: unset;
    }
  }
  background: #C7C29F;
  padding: 6% 0;
  & .section-heading {
    padding-bottom: 6%;
    & .text-inner {
      color: $orangeColor;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  & .price {
    color: $orangeColor;
  }
  & .heart {
    cursor: pointer;
    & path {
      @include transition(.3);
    }
    &:hover {
      & path {
        fill: $orangeColor;
      }
    }
  }
  &__image {
    margin-bottom: 40px;
  }
}

.contact {
  background: #877E42;
  & .image {
    @media (max-width: $breakpoint-lg) {
      width: 60%;
      margin: 40px auto 0 auto;
    }
  }
}