@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-screen {
  background: #ECEBEF;
  height: calc(100vh - 79px);
  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__first_row {
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  &__second_row {
    justify-content: center;
  }
  &__image {
    margin: 0 100px;
    & img {
      @include defaultIcon(contain);
    }
  }
  &__title {

  }
  &__subtitle {
    color: $orangeColor;
  }
}