@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  &-primary {
    display: block;
    background: transparent;
    border: 2px solid $defaultText;
    padding: 12px 32px;
    line-height: 1;
    color: $defaultText;
    text-align: center;
    font-size: 18px;
    @include transition(.3);
    cursor: pointer;
    &:hover {
      background: $defaultText;
      color: $whiteColor;
    }
  }
}